<% provide(:title, "Log in") %>
<h1>Autenticar</h1>
<% if !logged_in? %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
    <%= simple_form_for(:session, url: login_path) do |f| %>

      <%= f.input :email, placeholder: 'email@example.com' %>

      <%= f.input :password, placeholder: 'Password' %>

      <%= f.input :lembrar_me, inline_label:"Lembrar-me", :as => :boolean %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p><%= link_to "Registar-me", registo_path %> | <%= link_to "Esqueci-me da palavra-passe", new_password_reset_path %> </p>
  </div>
</div>
<% else %>
<center>
  <div class="col-md-12">
    <br>
    <div class="alert alert-warning">Você já está autenticado!</div>
    <%= link_to "Voltar à página inicial.", root_url, class:"btn btn-success btn-lg"%>
    <%=link_to "Pretende terminar a sua sessão?", log_out, class: "btn btn-warning btn-lg"%>
    <br>
  </div>
</center>
<% end %>
