<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(:session, url: frontoffice_login_path) do |f| %>

      <%= f.input :email, placeholder: 'email@example.com' %>

      <%= f.input :password, placeholder: 'Password' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", frontoffice_registo_path %></p>
  </div>
</div>
