  <h3>Ultimas Empresas</h3>
    <% @ultimas_entidades.each do |entidade| %>
      <div class="col-md-3">
        <div class="foto">
          <%= image_tag entidade.perfil.foto.url if entidade.perfil.foto? %><br>
        </div>
      </div>

      <div class="col-md-9">
        <div class="conteudo">
          <%=link_to entidade.perfil.conta.nome, entidade%><br>
          <%= num_ofertas_activas(entidade)%> oferta(s) ativa(s)<br>
          <%= entidade.actividade_profissional.actividade%><br>
          <%= entidade.perfil.apresentacao.html_safe%><br>
        </div>
      </div>
      <div class="col-md-12">
        <br>
      </div>
    <% end %>
<div class="col-md-12">
  <%=link_to 'Ver todas as Entidades', entidades_path%>
</div>
