  <h3>Ultimas Noticias</h3>
    <% @ultimas_noticias.each do |noticia| %>
      <div class="col-md-3">
        <div class="foto">
          <%= image_tag noticia.foto.url if noticia.foto? %><br>
        </div>
      </div>

      <div class="col-md-9">
        <div class="conteudo">
          <%= link_to noticia.titulo, noticia_frontoffice_index_path(noticia) %><br>
          <%= noticia.data%><br>
          <%= noticia.sumario%><br>
        </div>
      </div>
      <div class="col-md-12">
        <br>
      </div>
    <% end %>
<div class="col-md-12">
  <%= link_to "Ver todas as Noticias", noticias_frontoffice_index_path %>
</div>
