<% provide(:title, 'Home') %>
<div class="row">

    <div class="col-md-4">
      <%= render 'candidatos_destaque.html.erb' %>
    </div>
    <div class="col-md-4">
      <%= render 'entidades_destaque.html.erb'%>
    </div>
    <div class="col-md-4">
      <%= render 'ofertas_destaque.html.erb'%>
    </div>
  <div class="col-md-12">
    <br>
  </div>
  <div class="col-md-6">
    <%= render 'ultimas_ofertas.html.erb' %>
  </div>
  <div class="col-md-6">
    <%= render 'noticias_destaque.html.erb'%>
  </div>
<div class="col-md-12">
  <br>
</div>
  <div class="col-md-6">
    <%= render 'ultimas_entidades.html.erb' %>
  </div>
  <div class="col-md-6">
    <%= render 'ultimas_candidatos.html.erb'%>
  </div>
</div>


<button class="js-push-button">Send a message</button>

<script type="text/javascript">
  (function() {
    $('.js-push-button').on("click", function onClick() {
      $.post("/push");
    });
  })();
</script>


