<div class="col-md-12">
  <% if @ofertas.where(activo:true).blank? && (params[:search] || params[:searcharea]) %>
     <h3>Não existem ofertas que coincidam com a sua pesquisa</h3><br><br>
  <% end %>

  <div class="col-md-12" id="collection_index">
    <% @ofertas.where(activo:true).each do |oferta| %>

      <div class="col-md-2">
          <%= image_tag oferta.foto.url if oferta.foto? %><br>
      </div>
      <div class="col-md-10">
        <%= link_to oferta.titulo, oferta %><br>
        <%= oferta.val_inicio %> a <%= oferta.val_fim %><br>
        <%= oferta.entidade.perfil.conta.nome%><br>
        <%= oferta.area_profissional.area%><br>
        <%= oferta.descricao%><br>
        <% if oferta.entidade==entidade_atual %>
          <%= link_to "Editar", edit_oferta_path(oferta), class: "btn btn-success" %>
          <div class="col-md-12">
            <p>
          </div>
        <% end %>
        <%@oferta=oferta%> 
        <%= render 'form_candidatura' if logged_in? && is_candidato?%>
      </div>
      <div class="col-md-12">
        <br>
     </div>

    <% end %>
    </div>
  </div>
<div id="collection_paginator">
<%= will_paginate @ofertas %>
</div>
<script type="text/javascript">
  $(document).ready( function() {
    $('#collection_paginator a').each( function() {
      $(this).attr( 'data-remote', 'true' )
      $(this).attr( 'data-replace', '#collection_index' )
    })
  })
</script>
