<% provide(:title, @oferta.titulo) %>
<h3><%=@oferta.titulo%></h3>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <%= image_tag @oferta.foto if @oferta.foto? %><br><br>
      <div><%= render 'form_candidatura' if logged_in? && is_candidato?%></div>
      <% if @oferta.entidade==entidade_atual %>
        <%= link_to "Editar", edit_oferta_path(@oferta), class: "btn btn-success btn-lg" %>
        <div class="col-md-12">
          <p>
        </div>
      <% end %>
    </div>
    <div class="col-md-9">
      <%= @oferta.descricao %><br><br>
      <%= @oferta.val_inicio %> a <%= @oferta.val_fim %><br><br><br>
      <b>Empresa</b><br>
      <%= link_to @oferta.entidade.perfil.conta.nome, @oferta.entidade %><br><br>
      <b>Area Profissional</b><br>
      <%= @oferta.area_profissional.area %><br><br>
      <b>Tipo de Contrato</b><br>
      <%= @oferta.tipo_contrato.tipo %><br><br>
      <b>Salario</b><br>
      <%= @oferta.salario.quantia %><br>
    </div>
  </div>
</div>
<br>
<div class="row">
<div class="col-md-6">
  <h3> Outras ofertas na mesma area </h3>
  <% if Oferta.where(area_profissional_id:@oferta.area_profissional_id).where.not(id: @oferta.id).any? %>
    <div class="col-md-12">
      <% Oferta.where(area_profissional_id:@oferta.area_profissional_id).where.not(id: @oferta.id).shuffle.last(2).each do |oferta| %>
        <div class="col-md-3">
            <%= image_tag oferta.foto.url if oferta.foto? %><br>
        </div>
        <div class="col-md-9">
          <%= link_to oferta.titulo, oferta %><br>
          <%= oferta.val_inicio %> a <%= oferta.val_fim %><br>
          <%= oferta.entidade.perfil.conta.nome%><br>
          <%= oferta.area_profissional.area%><br>
          <%= oferta.descricao%><br>
          <% if oferta.entidade==entidade_atual %>
            <p><p><%= link_to "Editar", edit_oferta_path(oferta), class: "btn btn-success btn-sm" %>
          <%end%>
        </div>

            <div class="col-md-12">
              <br>
            </div>
        <%end%>
        </div>
    <%else%>
    <div class="col-md-12">
    <h3>Ainda não existem mais ofertas nesta area</h3>
  </div>
    <%end%>
  </div>
<% if entidade_atual==@oferta.entidade %>
  <div class="col-md-6">
    <h3>Candidatos</h3>
  <% if @oferta.candidatos.any? %>
    <div class="col-md-12">
      <% @oferta.candidatos.each do |candidato|%>
        <div class="col-md-3">
          <%= image_tag candidato.perfil.foto.url if candidato.perfil.foto? %>
        </div>
        <div class="col-md-9">
          <%= link_to candidato.perfil.conta.nome,candidato %><br>
          <%= candidato.area_profissional.area%><br>
          <%= candidato.experiencia.html_safe%><br>
          <%= candidato.nivel_habilitacao.nivel%><br>
        </div>
        <div class="col-md-12">
          <br>
        </div>
        <div class="col-md-12">
          <br>
        </div>
        <%end%>
    </div>
  <%else%>
    <div class="col-md-12">
    <h3> Ainda não há candidatos para esta oferta. </h3>
    </div>
  <%end%>
  </div>
<%end%>
</div>
<br>
<div class="row">
  <%= link_to "Ver Ofertas", ofertas_path %>
</div>
