  <%= simple_form_for(@conta) do |f| %>

    <div class="col-md-6">
      <%= f.input :nome, label: 'Nome', placeholder: 'Nome'%>

      <%= f.input :email, label: 'Email', placeholder: 'email@example.com'%>
    </div>

    <div class="col-md-6">
      <div class ="tipo">
        <b>Tipo</b><br>
        <%= tipo_conta(@conta) %>
      </div>
      <div class ="activo">
        <%= f.input :activo, label: 'Activo'%>
      </div>
  </div>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
