<div class="col-md-12">
  <% if @todas_contas.blank? && (params[:search] || params[:searcharea]) %>
     <h3>Não existem contas que coincidam com a sua pesquisa</h3><br><br>
  <% end %>
</div>

<div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Activo</th>
        <th>Destaque</th>
        <th>Acções</th>
      </tr>
    </thead>
    <% @todas_contas.where(admin:true).each do |conta| %>
      <tbody>
        <td><%=conta.nome%></td>
        <td><%=conta.tipo%></td>
        <td>-----</td>
        <td>-----</td>
        <td>
          <%= button_to 'Detalhes', conta, method: :get, class:"btn btn-default btn-sm"%>
          <%= button_to 'Editar', edit_conta_path(conta), method: :get, class:"btn btn-success btn-sm"%>
          <%= button_to 'Apagar', conta, method: :delete, data: { confirm:'Apagar conta?'}, class:"btn btn-danger btn-sm"%>
        </td>
      </tbody>
    <% end %>
    <% @todas_contas.where(destaque:true).where(admin:false).each do |conta| %>
      <tbody>
        <td><%=conta.nome%></td>
        <td><%=conta.tipo%></td>
        <td><%=actividade_conta(conta)%></td>
        <td><%=destaque_conta(conta)%></td>
        <td>
          <%=button_to 'Detalhes', conta, method: :get, class:"btn btn-default btn-sm"%>
          <%=button_to 'Editar', edit_conta_path(conta), method: :get, class:"btn btn-success btn-sm"%>
          <%=button_to 'Apagar', conta, method: :delete, data: { confirm:'Apagar conta?'}, class:"btn btn-danger btn-sm"%>
        </td>
      </tbody>
    <% end %>
    <% @todas_contas.where(admin:false).where(destaque:false).each do |conta| %>
      <tbody>
        <td><%=conta.nome%></td>
        <td><%=conta.tipo%></td>
        <td><%=actividade_conta(conta)%></td>
        <td><%=destaque_conta(conta)%></td>
        <td>
          <%=button_to 'Detalhes', conta, method: :get, class:"btn btn-default btn-sm"%>
          <%=button_to 'Editar', edit_conta_path(conta), method: :get, class:"btn btn-success btn-sm"%>
          <%=button_to 'Apagar', conta, method: :delete, data: { confirm:'Apagar conta?'}, class:"btn btn-danger btn-sm"%>
        </td>
      </tbody>
    <% end %>
  </table>
