<% provide(:title, 'Alterar palavra-passe') %>
<h1>Alterar palavra-passe</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
    <%= simple_form_for(@conta, url: password_reset_path(params[:id])) do |f| %>
    <%= hidden_field_tag :email, @conta.email %>
      <div class ="password">
        <%= f.input :password, placeholder: 'Password' %>
      </div>
      <div class ="password_confirmation">
        <%= f.input :password_confirmation,label: 'Confirmação de Password', placeholder: 'Password' %>
      </div>
      <%= f.submit "Alterar password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
