<%= simple_form_for(@conta, url: alterarpassword_contas_path(@conta)) do |f| %>
<%= hidden_field_tag :email, @conta.email %>
<div class="row">
  <div class="col-md-12">
    <br><br><b>Nome:</b><br><%=@conta.nome%><br><br>
  </div>
  <div class="col-md-3">
    <%= f.input :password, placeholder: 'Password' %>
    <%= f.input :password_confirmation,label: 'Confirmação de Password', placeholder: 'Password' %><br><br><br>
  </div>
  <div class="col-md-9">
    <br><br><br><%= f.submit "Ok", class: "btn btn-primary" %>
    <%= link_to "Cancelar", contas_path, class: "btn btn-warning"%>
  </div>
</div>
<% end %>
