<% provide(:title, 'Utilizadores') %>
<h1>Utilizadores</h1>
<div class="row">

  <div class="col-md-11">
    <%= form_tag(contas_path, :method => "get", id: "search-form", remote:true) do %>
        <%= text_field_tag :search, params[:search], placeholder: "Procurar" %>
        <b><%= "Tipo: " %> </b>
        <%= select_tag :searchtipo, options_for_select([["Todos", ""],["Backoffice","Backoffice"],["Candidato","Candidato"],["Entidade","Entidade"]], params[:searchtipo]),  class:"btn btn-default dropdown-toggle" %>
        &ensp;<%= submit_tag "Procurar", :name => nil, class:"btn btn-primary" %>
        <%= link_to "Reset", contas_path, class:"btn btn-default" %><br><br>

  </div>
  <div class="col-md-1">
    <%=button_to 'Inserir', new_conta_path, method: :get, class:"btn btn-success"%>
  </div>
  <div class="col-md-12">
    <br>
  </div>
  <div class = "sort_paginate_ajax"><%= render 'index' %></div>
  <% end %>
  </div>
</div>
