<% provide(:title, 'Utilizadores') %>
<h1>Utilizadores</h1>
<div class="row">

  <div class="col-md-11">
    <%= form_tag(contas_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Procurar" %>
        <b><%= "Tipo: " %> </b>
        <%= select_tag :searchtipo, options_for_select(['Backoffice','Candidato','Entidade'], params[:searchtipo]), include_blank:true %>
        &ensp;<%= submit_tag "Procurar", :name => nil, class:"btn btn-primary" %>
        <%= link_to "Reset", contas_path, class:"btn btn-primary" %><br><br>
    <% end %>
  </div>
  <div class="col-md-1">
    <%=button_to 'Inserir', new_conta_path, method: :get, class:"btn btn-primary"%>
  </div>
  <div class="col-md-12">
    <br>
  </div>
  <div class="col-md-12">
    <% if @todas_contas.blank? && (params[:search] || params[:searcharea]) %>
       <h3>Não existem contas que coincidam com a sua pesquisa</h3><br><br>
    <% end %>
  </div>

  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Activo</th>
          <th>Destaque</th>
          <th>Acções</th>
        </tr>
      </thead>
      <% @todas_contas.where(admin:true).each do |conta| %>
        <tbody>
          <td><%=conta.nome%></td>
          <td><%=conta.tipo%></td>
          <td>-----</td>
          <td>-----</td>
          <td>
            <%=button_to 'Detalhes', conta, method: :get, class:"btn btn-primary"%>
            <%=button_to 'Editar', edit_conta_path(conta), method: :get, class:"btn btn-primary"%>
            <%=button_to 'Apagar', conta, method: :delete, data: { confirm:'Apagar conta?'}, class:"btn btn-primary"%>
          </td>
        </tbody>
      <% end %>
      <% @todas_contas.where(destaque:true).where(admin:false).each do |conta| %>
        <tbody>
          <td><%=conta.nome%></td>
          <td><%=conta.tipo%></td>
          <td><%=actividade_conta(conta)%></td>
          <td><%=destaque_conta(conta)%></td>
          <td>
            <%=button_to 'Detalhes', conta, method: :get, class:"btn btn-primary"%>
            <%=button_to 'Editar', edit_conta_path(conta), method: :get, class:"btn btn-primary"%>
            <%=button_to 'Apagar', conta, method: :delete, data: { confirm:'Apagar conta?'}, class:"btn btn-primary"%>
          </td>
        </tbody>
      <% end %>
      <% @todas_contas.where(admin:false).where(destaque:false).each do |conta| %>
        <tbody>
          <td><%=conta.nome%></td>
          <td><%=conta.tipo%></td>
          <td><%=actividade_conta(conta)%></td>
          <td><%=destaque_conta(conta)%></td>
          <td>
            <%=button_to 'Detalhes', conta, method: :get, class:"btn btn-primary"%>
            <%=button_to 'Editar', edit_conta_path(conta), method: :get, class:"btn btn-primary"%>
            <%=button_to 'Apagar', conta, method: :delete, data: { confirm:'Apagar conta?'}, class:"btn btn-primary"%>
          </td>
        </tbody>
      <% end %>
    </table>

  </div>
</div>
