<% provide(:title, @conta.nome) %>
<h1>Detalhes do Utilizador</h1>
<div class="row">
  <div class="col-md-6">
    <div class ="nome">
      <b>Nome</b><br>
      <%= @conta.nome %>
    </div>
    <div class ="email">
      <b>Email</b><br>
      <%= @conta.email %>
    </div>
  </div>
  <div class="col-md-6">
      <div class ="tipo">
        <b>Tipo</b><br>
        <%= @conta.tipo %>
      </div>
    <div class ="activo">
      <b>Activo</b><br>
      <%= actividade_conta(@conta) %>
    </div>
    <div>
      <b>Destaque</b><br>
      <%= destaque_conta(@conta) %>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1">
    <%=button_to 'Editar', edit_conta_path(@conta), method: :get%>
  </div>
  <div class="col-md-1 ">
    <%=button_to 'Alterar Password', alterarpassword_contas_path(@conta), method: :get%>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <%=button_to 'Apagar', @conta, method: :delete%>
  </div>
  <div class="col-md-1">
    <%=button_to 'Inserir', new_conta_path, method: :get%>
  </div>
  <div class="col-md-1">
    <%=button_to 'Listagem', contas_path, method: :get%>
  </div>
</div>
