<% provide(:title, @conta.nome) %>
<h1>Detalhes do Utilizador</h1>
<div class="row">
  <div class="col-md-6">
    <div class ="nome">
      <b>Nome</b><br>
      <%= @conta.nome %>
    </div>
    <div class ="email">
      <b>Email</b><br>
      <%= @conta.email %>
    </div>
  </div>
  <div class="col-md-6">
      <div class ="tipo">
        <b>Tipo</b><br>
        <%= @conta.tipo %>
      </div>
    <% if !@conta.admin? %>
    <div class ="activo">
      <b>Activo</b><br>
      <%= actividade_conta(@conta) %>
    </div>
    <div>
      <b>Destaque</b><br>
      <%= destaque_conta(@conta) %>
    </div>
    <%end%>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <%=button_to 'Editar', edit_conta_path(@conta), method: :get, class:"btn btn-primary"%>&ensp;
    <%=button_to 'Alterar Password', alterarpassword_contas_path(@conta), method: :get, class:"btn btn-success"%>&ensp;&ensp;
    <%=button_to 'Apagar', @conta, method: :delete, class:"btn btn-danger"%>&ensp;
    <%=button_to 'Inserir', new_conta_path, method: :get, class:"btn btn-success"%>&ensp;&ensp;
    <%=button_to 'Listagem', contas_path, method: :get, class:"btn btn-default"%>
  </div>
</div>
