<% provide(:title, 'Noticias') %>
<h1>Noticias</h1>
<div class="row">

  <div class="col-md-11">
    <%= form_tag(noticias_path, :method => "get", id: "search-form", remote:true) do %>
        <%= text_field_tag :search, params[:search], placeholder: "Procurar noticias" %>
        &ensp;<%= submit_tag "Procurar", :name => nil, class:"btn btn-primary" %>
        <%= link_to "Reset", noticias_path, class:"btn btn-default"%><br><br>
        <% end %>
  </div>
  <div class="col-md-1">
  <%=button_to 'Inserir', new_noticia_path, method: :get, class:"btn btn-success"%>
  </div>
  <div class="col-md-12">
    <br>
  </div>
    <div class = "sort_paginate_ajax"><%= render 'index' %></div>

  </div>
</div>
