<% provide(:title, 'Nova Noticias') %>
<% provide(:button_text, 'Nova Noticia') %>
<h1>Nova Noticia</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(@noticia) do |f| %>

        <%= f.input :titulo, label: 'Titulo'%>

        <%= f.input :data, label: 'Data'%>

        <%= f.input :sumario, label: 'Sumario'%>

        <%= f.input :texto, label: 'Texto' %>

        <%= f.file_field :foto, label: 'Foto(por testar)' %>

        <%= f.input :destaque, label: 'Destaque' %>

        <%= f.input :activo, label: 'Activo' %>

        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
        <%= link_to "Cancelar", noticias_path , class: "btn btn-warning" %>
      <% end %>
  </div>
</div>
