<% provide(:title, @noticia.titulo) %>
<h1>Detalhes da Noticia</h1>
<div class="row">
  <div class="col-md-6">
    <div class ="titulo">
      <b>Titulo</b><br>
      <%= @noticia.titulo %>
    </div>
  </div>
  <div class="col-md-6">
    <div class ="data">
      <b>Data</b><br>
      <%= @noticia.data %><br><br>
    </div>
  </div>

  <div class="col-md-12">
      <div class ="sumario">
        <b>Sumario</b><br>
        <%= @noticia.sumario.html_safe %><br>
      </div>
    <div class ="activo">
      <b>Texto</b><br>
      <%= @noticia.texto.html_safe %><br>
    </div>
  </div>

  <div class="col-md-6">
    <div class ="imagem">
      <br><br><b>Imagem</b><br>
      <%= image_tag @noticia.foto.url%>
    </div>
  </div>

  <div class="col-md-6">
    <div class ="destaque">
      <br><br><b>Destaque</b><br>
      <%= @noticia.destaque %><br><br>
      <b>Activo</b><br>
      <%= @noticia.activo %>
    </div>
  </div>
</div>


<br><br>
<div class="row">
  <div class="col-md-12">
    <%=button_to 'Editar', edit_noticia_path(@noticia), method: :get, class:"btn btn-success"%>&ensp;
    <%=button_to 'Apagar', @conta, method: :delete, class:"btn btn-danger"%>&ensp;&ensp;
    <%=button_to 'Inserir', new_noticia_path, method: :get, class:"btn btn-success"%>&ensp;
    <%=button_to 'Listagem', noticias_path, method: :get, class:"btn btn-default"%>
  </div>
</div>
