<h3> Candidaturas </h3>
<% if @homecandidaturas.any? %>
<% @homecandidaturas.each do |candidatura| %>
  <div class="col-md-3">
    <div class="foto">
      <%= image_tag candidatura.oferta.foto.url if candidatura.oferta.foto? %><br>
    </div>
  </div>

  <div class="col-md-9">
    <div class="conteudo">
      <%=link_to candidatura.oferta.titulo, candidatura.oferta%><br>
      <%= candidatura.oferta.val_inicio%> a <%= candidatura.oferta.val_fim%><br>
      <%= candidatura.oferta.entidade.perfil.conta.nome%><br>
      <%= candidatura.oferta.entidade.perfil.conta.nome%><br>
      <%= candidatura.oferta.descricao%><br>
    </div>
  </div>
  <div class="col-md-12">
    <br>
  </div>
<% end %>
<div class="col-md-12">
<%=link_to 'Ver todos as Candidaturas', candidaturascandidato_path, class: "btn btn-default" %>
</div>
<% else %>
<div class="col-md-9">
<br>
<br>
<h2> Ainda não se candidatou a nenhuma oferta, veja as ofertas <%=link_to "aqui", ofertas_path%></h2>
</div>
<%end%>
