<h3> Ofertas </h3>
<% if homeofertas_activas(entidade_atual).any? %>
<% homeofertas_activas(entidade_atual).each do |oferta| %>
  <div class="col-md-3">
    <div class="foto">
      <%= image_tag oferta.foto.url if oferta.foto? %><br>
    </div>
  </div>

  <div class="col-md-9">
    <div class="conteudo">
      <%=link_to oferta.titulo, oferta%><br>
      <%= oferta.val_inicio%> a <%= oferta.val_fim%><br>
      <%= oferta.entidade.perfil.conta.nome%><br>
      <%= oferta.entidade.perfil.conta.nome%><br>
      <%= oferta.descricao%><br><p><p>
      <%= link_to "Editar", edit_oferta_path(oferta), class: "btn btn-success btn-sm" %>
    </div>
  </div>
  <div class="col-md-12">
    <br>
  </div>
<% end %>
<div class="col-md-12">
<%=link_to 'Inserir', new_oferta_path, class: "btn btn-success"%>
<%=link_to 'Ver todos as Ofertas', ofertasativas_path, class: "btn btn-default" %>
</div>
<% else %>
<div class="col-md-9">
<br>
<br>
<h2>Não tem nenhuma oferta ativa</h2>
</div>
<% end %>
