<% if @candidaturas.any? %>
<% @candidaturas.each do |candidatura| %>
<div id="collection_index">
  <div class="col-md-3">
    <div class="foto">
      <%= image_tag candidatura.oferta.foto.url if candidatura.oferta.foto? %><br>
    </div>
  </div>
  <div class="col-md-9">
      <%=link_to candidatura.oferta.titulo, candidatura.oferta%><br>
      <%= candidatura.oferta.val_inicio%> a <%= candidatura.oferta.val_fim%><br>
      <%= candidatura.oferta.entidade.perfil.conta.nome%><br>
      <%= candidatura.oferta.entidade.perfil.conta.nome%><br>
      <%= candidatura.oferta.descricao%><br>
  </div>
  <div class="col-md-12">
    <br>
  </div>
</div>
<% end %>
<div class="col-md-12" id="collection_paginator">
<%= will_paginate @candidaturas %>
</div>
<script type="text/javascript">
  $(document).ready( function() {
    $('#collection_paginator a').each( function() {
      $(this).attr( 'data-remote', 'true' )
      $(this).attr( 'data-replace', '#collection_index' )
    })
  })
</script>
<% else %>
<div class="col-md-9">
<br>
<br>
<h2> Ainda não se candidatou a nenhuma oferta, veja as ofertas <%=link_to "aqui", ofertas_path%></h2>
</div>
<%end%>
