<% if @interessados.any? %>
  <div class="col-md-12">
<% @interessados.each do |perfil| %>
<% entidade = perfil.entidade %>
<div id="collection_index">
  <div class="col-md-2">
    <%= image_tag perfil.foto.url if perfil.foto? %><br><br>
  </div>
  <div class="col-md-10">
    <%= link_to perfil.conta.nome,entidade %><br>
    <%= num_ofertas_activas(entidade)%> oferta(s) ativa(s)<br>
    <%= perfil.apresentacao.html_safe%><br><br>
  </div>
  <div class="col-md-12">
    <br>
  </div>
</div>
<% end %>
</div>
<div id="collection_paginator">
<%= will_paginate @interessados %>
</div>
<script type="text/javascript">
  $(document).ready( function() {
    $('#collection_paginator a').each( function() {
      $(this).attr( 'data-remote', 'true' )
      $(this).attr( 'data-replace', '#collection_index' )
    })
  })
</script>
<% else %>
<div class="col-md-9">
<br>
<br>
<h2>Ainda nenhuma empresa manisfestou interesse em si</h2>
</div>
<%end%>
<br>
<br>
