  <%= tinymce %>

<%12.times.each do %>
<div class="col-xs-1">1</div>
<%end%>
  <%= simple_form_for(@entidade) do |f| %>
    <%= f.fields_for :perfil do |p| %>
      <%= p.fields_for :conta do |c| %>
        <%= c.input :nome, placeholder: 'Nome' %>

        <%= c.input :email, placeholder: 'email@example.com' %>

        <%= c.input :password, placeholder: 'Password' %>

        <%= c.input :password_confirmation,label: 'Confirmação de Password', placeholder: 'Password' %>


      <%= p.input :foto, label: 'Fotografia' %>

      <%= p.input :morada, placeholder: 'Morada'%>

      <%= p.input :codigo_postal, placeholder: 'Codigo Postal'%>

      <%= p.input :localidade, placeholder: 'Localidade'%>

      <%= p.input :contacto1, label: 'Contacto 1', placeholder: '222222222'%>
      <%= p.input :contacto2, label: 'Contacto 2', placeholder: '222222222'%>

      <%= p.input :pagina, label: 'Pagina da Entidade', placeholder: 'http://.....'%>


      <b><%= "Apresentação: "%></b><br>
      <%= p.text_area :apresentacao, :class => "tinymce"%><br>



    <%= f.input :nif, label: 'NIF', placeholder: 'xxxxxxxxx'%>
    <%= f.input :actividade_profissional_id, :collection => ActividadeProfissional.order(:actividade), :label_method => :actividade,
                                                                                                       :value_method => :id,
                                                                                                       :label => "Actividade profissional",
                                                                                                       :include_blank => true %>
<p>
<br>

    <%= c.input :newsletter, label: 'Pretende receber a newsletter semanal com informação de atividade nova?'%>
    <%= c.input :candidatos, label: "Pretende receber notificações de novos candidatos?" %>
    <%= c.input :candidaturas, label: "Pretende receber notificações de novas candidaturas às suas ofertas?"%>
    <br><br>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
