<% provide(:title, 'Entidades') %>
<h1>Entidades</h1>
<div class="row">
    <div class="col-md-12">
      <% @entidades.each do |entidade| %>
        <div class="col-md-2">
            <%= image_tag entidade.perfil.foto.url if entidade.perfil.foto? %><br>
        </div>
        <div class="col-md-10">
          <%= link_to entidade.perfil.conta.nome,entidade %><br>
          <%= num_ofertas_activas(entidade)%> oferta(s) ativa(s)<br>
          <%= entidade.perfil.apresentacao%><br>
        </div>
        <div class="col-md-12">
          <p>
        </div>
        <div class="col-md-12">
          <%= render 'editar' if logged_in? && entidade_atual==entidade%>
          <%= render 'interessado_form' if logged_in? %>
            </div>
          <% end %>
          <br>
        </div>
    </div>
  <%= will_paginate %>
  <br>
  <br>
  <%= link_to "Quero-me registar", registo_path %>
</div>
