<% provide(:title, 'Entidades') %>
<h1>Entidades</h1>
<div class="row">
  <%= will_paginate %>
    <div class="col-md-12">
      <% @entidades.each do |entidade| %>
        <div class="col-md-3">
            <%= image_tag entidade.perfil.foto.url if entidade.perfil.foto? %><br>
        </div>
        <div class="col-md-9">
          <%= link_to entidade.perfil.conta.nome,entidade %><br>
          <%= num_ofertas_activas(entidade)%> oferta(s) ativa(s)<br>
          <%= entidade.perfil.apresentacao%><br>
        </div>
        <div class="col-md-12">
          <% if logged_in? && is_candidato? %>
            <div id="form_interesse">
              <% if candidato_atual.perfil.interessados?(entidade.perfil) %>
                <%= render 'desinteressado' %>

              <% else %>
                <%= form_for(conta_atual.perfil.interesses_activos.build) do |f| %>
                  <div><%= hidden_field_tag :interessado_em_id, entidade.perfil.id %></div>
                  <%= f.submit "Interessado",
                      class: "btn btn-primary" %>
                  <% end %>
                <% end %>
            </div>
          <% end %>
          <br>
        </div>
      <% end %>
    </div>
  <%= will_paginate %>
</div>
