<% provide(:title, @entidade.perfil.conta.nome) %>
<h3><%=@entidade.perfil.conta.nome%></h3>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <%= image_tag @entidade.perfil.foto.url if @entidade.perfil.foto? %><br><br>
      <%= render 'editar' if logged_in? && entidade_atual==@entidade%>
      <%= render 'interessado_form' if logged_in? && is_candidato?%>
    </div>
    <div class="col-md-9">
      <%= @entidade.perfil.apresentacao.html_safe %><br><br>
      <b>Actividade Profissional</b><br>
      <%= @entidade.actividade_profissional.actividade %><br><br>
      <b>Morada</b><br>
      <%= @entidade.perfil.morada %><br>
      <%= @entidade.perfil.codigo_postal %>,<%= @entidade.perfil.localidade %><br><br>
      <b>Contactos</b><br>
      <%if @entidade.perfil.contacto2.blank?%>
        <% if !@entidade.perfil.contacto1.blank? %>
          <%= "Contacto: " + @entidade.perfil.contacto1 %>
          <p>
          <%end%><%end%>
      <%if @entidade.perfil.contacto1.blank? %>
       <%if !@entidade.perfil.contacto2.blank? %>
          <%= "Contacto: " + @entidade.perfil.contacto2 %>
          <p>
          <%end%><%end%>
      <%if !@entidade.perfil.contacto1.blank?%>
       <%if !@entidade.perfil.contacto2.blank?%>
          <%= "Contactos: " + @entidade.perfil.contacto1 + " ; " + @entidade.perfil.contacto2 %>
          <p>
          <%end%><%end%>
      <% if !@entidade.perfil.conta.email.blank? %>
      <%= "Email: " + @entidade.perfil.conta.email %>
      <p>
      <%end%>
    </div>
  </div>
</div>
<br>
<div class="row">
  <h3>Ofertas Activas</h3>
  <div class="col-md-12">
    <% @ofertas.each do |oferta| %>
      <div class="col-md-2">
        <%= image_tag oferta.foto.url if oferta.foto? %><br>
      </div>
      <div class="col-md-5">
        <%= link_to oferta.titulo, oferta %><br>
        <%= oferta.val_inicio %> a <%= oferta.val_fim %><br>
        <%= oferta.entidade.perfil.conta.nome %><br>
        <%= oferta.descricao %><br>
        <% if oferta.entidade==entidade_atual %>
          <%= link_to "Editar", edit_oferta_path(oferta), class: "btn btn-success btn-sm" %>
          <div class="col-md-12">
            <p>
          </div>
        <% end %>
      </div>
      <div class="col-md-12">
        <br>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="col-md-12">
  <%= will_paginate @ofertas %>
</div>
<div class="row">
  <%= link_to "Ver Entidades", entidades_path %>
</div>
