<% provide(:title, @entidade.perfil.conta.nome) %>
<h3><%=@entidade.perfil.conta.nome%></h3>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <%= image_tag @entidade.perfil.foto.url if @entidade.perfil.foto? %><br>
    </div>
    <div class="col-md-9">
      <%= @entidade.perfil.apresentacao %><br><br>
      <b>Actividade Profissional</b><br>
      <%= @entidade.actividade_profissional.actividade %><br><br>
      <b>Morada</b><br>
      <%= @entidade.perfil.morada %><br>
      <%= @entidade.perfil.codigo_postal %>,<%= @entidade.perfil.localidade %><br><br>
      <b>Contactos</b><br>
      <%if @entidade.perfil.contacto2.nil?%>
        <% if !@entidade.perfil.contacto1.nil? %>
          <%= "Contacto: " + @entidade.perfil.contacto1 %>
          <p>
          <%end%><%end%>
      <%if @entidade.perfil.contacto1.nil? %>
       <%if !@entidade.perfil.contacto2.nil? %>
          <%= "Contacto: " + @entidade.perfil.contacto2 %>
          <p>
          <%end%><%end%>
      <%if !@entidade.perfil.contacto1.nil?%>
       <%if !@entidade.perfil.contacto2.nil?%>
          <%= "Contactos: " + @entidade.perfil.contacto1 + " ; " + @entidade.perfil.contacto2 %>
          <p>
          <%end%><%end%>
      <% if !@entidade.perfil.conta.email.nil? %>
      <%= "Email: " + @entidade.perfil.conta.email %>
      <p>
      <%end%>
    </div>
  </div>
</div>
<br>
<div class="row">
  <h3>Ofertas Activas</h3>
  <div class="col-md-12">
    <% ofertas_activas(@entidade).each do |oferta| %>
      <div class="col-md-3">
        <%= image_tag oferta.picture.url if oferta.picture? %><br>
      </div>
      <div class="col-md-4">
        <%= link_to oferta.titulo, oferta %><br>
        <%= oferta.val_inicio %> a <%= oferta.val_fim %><br>
        <%= oferta.entidade.perfil.conta.nome %><br>
        <%= oferta.descricao %><br>
      </div>
      <div class="col-md-12">
        <br>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <%= link_to "Ver Entidades", entidades_path %>
</div>
