<div class="col-md-12" id="collection_index">
  <% if @candidatos.blank? && (params[:search] || params[:searcharea]) %>
     <h3>Não existem candidatos que coincidam com a sua pesquisa</h3><br><br>
  <% end %>

<div class="col-md-12">
  <% @candidatos.each do |conta| %>
  <% @candidato = conta.perfil.candidato %>
    <div class="col-md-2">
      <%= image_tag @candidato.perfil.foto.url if @candidato.perfil.foto? %><br><br>
    </div>
    <div class="col-md-10">
      <%= link_to @candidato.perfil.conta.nome,@candidato %><br>
      <%= @candidato.area_profissional.area%><br>
      <%= @candidato.experiencia.html_safe%><br>
      <%= @candidato.nivel_habilitacao.nivel%><br><br>
      <%= render 'editar' if logged_in? && @candidato==candidato_atual %><br>
      <%= render 'interessado_form' if logged_in? && is_entidade?%>
    </div>
    <div class="col-md-12">
      <br>
    </div>
  <% end %>
    <br>
  </div>
</div>

<div id="collection_paginator">
  <%= will_paginate @candidatos%>
</div>

<script type="text/javascript">
  $(document).ready( function() {
    $('#collection_paginator a').each( function() {
      $(this).attr( 'data-remote', 'true' )
      $(this).attr( 'data-replace', '#collection_index' )
    })
  })
</script>
