<% provide(:title, 'Candidatos') %>
<h1>Candidatos</h1>
<div class="row">

    <div class="col-md-12">
      <% @candidatos.each do |candidato| %>
        <div class="col-md-2">
          <%= image_tag candidato.perfil.foto.url if candidato.perfil.foto? %>
        </div>
        <div class="col-md-10">
          <%= link_to candidato.perfil.conta.nome,candidato %><br>
          <%= candidato.area_profissional.area%><br>
          <%= candidato.experiencia%><br>
          <%= candidato.nivel_habilitacao.nivel%><br>
        </div>
        <div class="col-md-12">
          <br>
        </div>
        <div class="col-md-12">
          <br>
        </div>
      <% end %>
    </div>
  <%= will_paginate %>
  <br>
  <br>
  <%= link_to "Quero-me registar", registo_path %>
</div>
