<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Registar') %>
<h1>Nova Entidade</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= simple_form_for(@candidato) do |f| %>
    <%= f.fields_for :perfil do |p| %>
      <%= p.fields_for :conta do |c| %>

        <%= c.input :nome, placeholder: 'Nome' %>

        <%= c.input :email, placeholder: 'email@example.com' %>

        <%= c.input :password, placeholder: 'Password' %>

        <%= c.input :password_confirmation,label: 'Confirmação de Password', placeholder: 'Password' %>
      <% end %>

      <%= p.file_field :foto, label: 'Foto(por testar)' %>

      <%= p.input :morada, placeholder: 'Morada'%>

      <%= p.input :codigo_postal, placeholder: 'Codigo Postal'%>

      <%= p.input :localidade, placeholder: 'Localidade'%>

      <%= p.input :contacto1, label: 'Contacto 1', placeholder: '222222222'%>
      <%= p.input :contacto2, label: 'Contacto 2', placeholder: '222222222'%>

      <%= p.input :pagina, label: 'Pagina da Entidade', placeholder: 'http://.....'%>

      <%= p.input :apresentacao, label: 'Apresentação', placeholder: 'Apresentação'%>

    <% end %>

    <%= f.input :nascimento, label: 'Data de Nascimento'%>

    <%= f.input :bi, label: 'Bilhete de Identidade'%>

    <%= f.file_field :cv, label: 'Curriculum Vitai(por testar)' %>

    <%= f.input :area_profissional_id, :collection => @todas_areas,
    :label_method => :area,
    :value_method => :id,
    :label => 'Area Profissional', :include_blank => false %>

    <%= f.input :nivel_habilitacao_id, :collection => @todas_habilitacoes,
    :label_method => :nivel,
    :value_method => :id,
    :label => 'Nivel de Habilitações', :include_blank => false %>

    <%= f.input :habilitacao, label: 'Habilitações Literarias'%>

    <%= f.input :situacao_profissional_id, :collection => @todas_situacoes,
    :label_method => :situacao,
    :value_method => :id,
    :label => 'Situacao Profissional', :include_blank => false %>

    <%= f.input :experiencia, label: 'Experiencia'%>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
