<% provide(:title, @candidato.perfil.conta.nome) %>
<h3><%=@candidato.perfil.conta.nome%></h3>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <%= image_tag @candidato.perfil.foto.url if @candidato.perfil.foto? %><br>
      <%= link_to "Curriculum Vitae", @candidato.cv_url %><br><br>
      <%= render 'editar' if logged_in? && candidato_atual==@candidato%>
      <%= render 'interessado_form' if logged_in? && is_entidade?%>
    </div>
    <div class="col-md-9">
      <%= @candidato.perfil.apresentacao.html_safe %><br>
      <h3><b>Dados Profissionais</b></h3><br>
      <b>Situação Profissional</b><br>
      <%= @candidato.situacao_profissional.situacao %><br>
      <b>Nivel Habilitação</b><br>
      <%= @candidato.nivel_habilitacao.nivel %><br>
      <b>Habilitações Literarias</b><br>
      <%= @candidato.habilitacao.html_safe %><br>
      <b>Experiencia Profissional</b><br>
      <%= @candidato.experiencia.html_safe %><br>

      <h3><b>Dados Pessoais</b></h3><br>
      <b>Morada</b><br>
      <%= @candidato.perfil.morada %><br>
      <%= @candidato.perfil.codigo_postal %>,<%= @candidato.perfil.localidade %><br>
      <b>Contactos</b><br>
      <%if @candidato.perfil.contacto2.blank?%>
        <% if !@candidato.perfil.contacto1.blank? %>
          <%= "Contacto: " + @candidato.perfil.contacto1 %>
          <p>
          <%end%><%end%>
      <%if @candidato.perfil.contacto1.blank? %>
       <%if !@candidato.perfil.contacto2.blank? %>
          <%= "Contacto: " + @candidato.perfil.contacto2 %>
          <p>
          <%end%><%end%>
      <%if !@candidato.perfil.contacto1.blank?%>
       <%if !@candidato.perfil.contacto2.blank?%>
          <%= "Contactos: " + @candidato.perfil.contacto1 + " ; " + @candidato.perfil.contacto2 %>
          <p>
          <%end%><%end%>
      <% if !@candidato.perfil.conta.email.blank? %>
      <%= "Email: " + @candidato.perfil.conta.email %>
      <p>
      <%end%>
    </div>
  </div>
</div>
<br>
<div class="row">
    <%= link_to "Ver Candidatos", candidatos_path %>
</div>
