<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <%= link_to "Bolsa de Emprego", root_path, id: "logo" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <nav>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Entidades", entidades_path %></li>
          <li><%= link_to "Candidatos", candidatos_path %></li>
          <li><%= link_to "Ofertas", ofertas_path %></li>
          <li><%= link_to "Noticias", noticias_frontoffice_index_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <% if conta_atual.perfil == nil %>
              <li><%= link_to conta_atual.nome , backhome_path %></li>
              <% else %>
                <li><%= link_to conta_atual.nome , detalhes_path %></li>
            <% end %>
            <li><%= link_to "Sair", logout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Registar-me", new_frontoffice_path %></li>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
